
body * {
   /* Reset */
   margin: 0;
   padding: 0;

   /* flexCenter */
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
}

body {
   height: 100%;
   background-color: rgb(30, 30, 30);
}

button, p {
   font-size: 20px;
   font-family: Verdana;
   color: black;
}


/* ******************************************************** */
/* Mouse Picture */
/* ******************************************************** */
.mouse-settings {
   position: fixed;
   top: 100px;
   left: 120px;
   height: 348px;
   width: 287px;
}

.mouse-settings p {
   position: absolute;
   justify-content: flex-start;
   font-size: 110%;
   height: 20px;
   width: 70%;
   color: white;
}

.mouse-img {
   position: relative;
   opacity: 60%;
   height: 100%;
   width: 100%;
   object-fit: cover;
   transform: scale(80%);
}

.mouse-settings .agent {
   top: 70px;
   left: -90px;
}

.mouse-settings .trees {
   top: 15px;
   left: 175px;
}

.mouse-settings .walls {
   top: 65px;
   left: 215px;
}


/* ******************************************************** */
/* Coordinates */
/* ******************************************************** */
.coordinates {
   justify-content: space-around;
   position: fixed;
   top: 15px;
   left: 50%;
   transform: translate(-50%);

   padding-bottom: 5px;
   height: 80px;
   width: 900px;

   border: double dimgray 4px;
   border-radius: 20px;
   background-color: silver;
}

.coordinates span {
   position: relative;
   height: 100%;
   width: 20%;
}

.coordinates p {
   position: relative;
   justify-content: flex-start;
   width: 100%;
}


/* ******************************************************** */
/* Nav Bar */
/* ******************************************************** */
.nav-bar {
   z-index: 10;
   position: absolute;
   align-content: space-around;

   top: 80px;
   right: 40px;
   height: 290px;
   width: 260px;

   border: double dimgray 4px;
   border-radius: 30px;
   background-color: silver;
}

.nav-bar button {
   height: 45px;
   width: 90%;
   font-size: 120%;
   
   border-radius: 15px;
}


/* ========== Normal ========== */
.search-path-btn {
   background-color: lawngreen;
}

.delete-path-btn {
   background-color: lawngreen;
}

.toggle-data-btn {
   background-color: dodgerblue;
}

.reset-map-btn {
   background-color: red;
}


/* ========== Hover ========== */
.search-path-btn:hover,
.delete-path-btn:hover {
   background-color: limegreen;
}

.toggle-data-btn:hover {
   background-color: royalblue ;
}

.reset-map-btn:hover {
   background-color: crimson;
}


/* ========== Clicked ========== */
.search-path-btn:active,
.delete-path-btn:active {
   background-color: green;
}

.toggle-data-btn:active {
   background-color: blue;
}

.reset-map-btn:active {
   background-color: darkred;
}


/* ******************************************************** */
/* Isometric Canvas */
/* ******************************************************** */
.isometric-canvas {
   position: fixed;
   top: 30%;
   left: 50%;
   transform: rotateX(60deg);
}

.canvas-isoSelect {
   z-index: 10;
   position: fixed;
   transform: rotateZ(-45deg);
   background: mediumseagreen;
   
   /* opacity: 30%;
   background: orange; */
}


/* ******************************************************** */
/* Cartesian Canvas */
/* ******************************************************** */
.canvas-terrain,
.canvas-buildings,
.canvas-units {
   height: 100%;
   width: 100%;
   
   /* visibility: hidden; */
}

.cartesian-canvas {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   height: 1080px;
   width: 100%;
}

.canvas-terrain {
   z-index: 20;
   position: fixed;
   
   /* opacity: 30%; */
}

.canvas-buildings {
   z-index: 30;
   position: fixed;

   /* opacity: 30%;
   background: red; */
}

.canvas-units {
   z-index: 40;
   position: fixed;

   /* opacity: 30%;
   background: dodgerblue; */
}