
* {
   margin: 0;
   padding: 0;
}

body {
   height: 100vh;
   background-color: rgb(30, 30, 30);
}

p {
   font-size: 20px;
   font-family: Verdana;
   color: black;
}

.flexCenter {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
}

.isometric {
   /* transform: rotateX(60deg); */
}

canvas {
   /* transform: rotateZ(-45deg); */
   background: mediumseagreen;
}

.coordinates {
   margin-bottom: 15px;
   /* position: absolute; */
   /* top: 15px; */
   justify-content: space-around;
   height: auto;
   width: 60%;
   background: white;
}

.coordinates p {
   position: relative;
   justify-content: flex-start;
   height: 20px;
   width: 100%;
}

.mouse-coord,
.cell-coord,
.cell-id {
   position: relative;
   width: 30%;
   margin: 10px;
}
